/*------------------------------------------------------------------*/
/*                           Components                             */
/*------------------------------------------------------------------*/

@import url("./components/link-button.css");

/*------------------------------------------------------------------*/
/*                            Variables                             */
/*------------------------------------------------------------------*/

:root {
    --dark: #00072d;
    --dark-blue: #0a2472;
    --blue: #3776ab;
    --light: #f8f5f0;
    --grey: #364652;
    --light-grey: #3646527e;
    --yellow: #ffbb00;
    --serif: "PT Serif", serif;
    --sans: "Fira Sans", sans-serif;
}

body {
    font-family: var(--sans);
    font-weight: 300;
    margin: 0;
}


/*------------------------------------------------------------------*/
/*                         Header & footer                          */
/*------------------------------------------------------------------*/

.header, .footer, .sidebar {
    font-family: var(--serif);
    font-weight: bold;
}

.header--dark, .footer {
    background-color: var(--dark-blue);
    color: white;
}

.header--dark, .footer {
    animation: fade-in-header-bg .4s 0s ease-in-out both;
}

@keyframes fade-in-header-bg {
    from { opacity: 0; }
    to { opacity: 1;}
}

.header-svg polygon {
    animation: fade-in .4s ease-in-out both;
}

.sidebar li, .header li {
    animation-name: fade-in;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from { opacity: 0;}
    to {opacity: 1;}
}

.header h1, article h1 {
    animation-name: fade-in-top !important;
    animation-duration: .4s !important;
    animation-timing-function: ease-in-out !important;
    animation-fill-mode: both !important;
}

.header h1 {
    animation-delay: .4s;
}

.header--light, .sidebar {
    background-color: transparent;
    color: var(--dark-blue);
    padding-bottom: 7em;
}

@keyframes fade-in-top {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(5px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__brand {
    animation: fade-in .4s ease-in-out both;
}

.nav:not(.nav--sidebar) {
    padding: 3.5em 3.5em 0 3.5em;
}

.nav--bottom .nav__links {
    justify-content: space-between;
}

.nav--top {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav--top .nav__links, .nav--bottom .nav__links {
    display: flex;
}


.nav__sublinks {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__links, .footer__links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__subitem {
    font-size: 0.9em;
    margin-top: 1em;
}

.nav__item {
    font-size: 1.1em;
    margin: 1em;
}

.nav__item--title {
    padding: 0 0.3em;
    font-family: var(--sans);
}

.nav__item--title li {
    font-family: var(--serif);
}

.nav__item--title ul {
    margin: 0 -0.3em;
}

.footer__mentions {
    font-family: var(--sans);
    font-weight: 300;
    text-align: center;
    padding: 2em;
}

.title-container {
    position: relative;
}

.title-container svg {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
}

/*------------------------------------------------------------------*/
/*                               Main                               */
/*------------------------------------------------------------------*/

p a, .content a {
    background: linear-gradient(to top, var(--yellow) 0%, var(--yellow) 0.5em, transparent 0.5em) no-repeat;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
    background-size: 100% 100%;
    animation: reverse-underline ease-in-out 0.5s both;
}

p a:hover, .content a:hover{
    animation: underline ease-in-out 0.5s both;
    font-weight: bold;
}

@keyframes underline {
    0% {
        background-size: 100% 100%;
        background-position: bottom right;
    }
    49.9% {
        background-position: bottom right;
    }
    50% {
        background-size: 0 100%;
    }
    50.1%{
        background-position: bottom left;
        background-size: 0% 10%;
    }
    100% {
        background-position: bottom left;
        background-size: 100% 10%;
    }
}

@keyframes reverse-underline {
    0% {
        background-size: 100% 10%;
        background-position: bottom right;
    }
    49.9% {
        background-position: bottom right;
    }
    50% {
        background-size: 0 10%;
    }
    50.1%{
        background-position: bottom left;
        background-size: 0% 100%;
    }
    100% {
        background-position: bottom left;
        background-size: 100% 100%;
    }
}

    
main {
    font-size: 0.95em;
    width: 70rem;
    margin: auto;
    padding-bottom: 5em;
    animation: fade-in-bottom .4s .7s ease-in-out both;
}

.greeting {
    width: 70em;
    margin: 7em auto 0 auto;
}

.greeting h1, article h1 {
    margin: 0;
    font-family: var(--serif);
    font-size: 4em;
}

.greeting h1 {
    color: var(--light)
}

h2 {
    font-family: var(--serif);
    color: var(--dark-blue);
    font-size: 2.2em;
}

section .cards {
    display: flex;
    margin: 0 -0.75em;
}

section .cards .card {
    color: var(--dark);
    position: relative;
    flex: 1;
    /* border: solid 1px var(--grey); */
    margin: 0 0.75em;
    padding: 1em;
    background: linear-gradient(var(--light), var(--light)) no-repeat;
    background-size: 100% .5rem;
    transition: 
        color .4s ease-in-out,
        border .4s ease-in-out,
        background-size .4s ease-in-out,
        border-radius .4s ease-in-out;
}

section .cards .card__header h3 {
    margin: 0 0 1em 0;
    font-size: 1.7em;
}

section .cards .card__body {
    margin-bottom: 3em;
    margin-right: 1em;
}

section .cards .card .card__footer {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

section .cards .card .card__footer a {
    color: var(--grey);
    font-family: var(--serif);
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: linear-gradient(var(--dark-blue), var(--dark-blue)) no-repeat;
    background-size: 0 100%;
    background-position: right;
    border-radius: 0.2em;
    transition: background-size .4s ease-in-out, color .4s ease-in-out;
}

section .cards .card:hover .card__footer a {
    color: var(--light);
    background-size: 100% 100%;
    background-position: left;
}

section .cards .card:hover {
    background-size: 100% 100%;
    border-radius: .5em;
}

section .cards .card:hover .card__header {
    color: var(--dark-blue);
}

main p {
    line-height: 1.5;
}

/*------------------------------------------------------------------*/
/*                            Sidebar                               */
/*------------------------------------------------------------------*/

.sidebar {
    display: none;
    transition: opacity .4s;
    float: left;
    margin-left: 3.5em;
    position: sticky;
    top: 3.5em;
}


/*------------------------------------------------------------------*/
/*                            Article                               */
/*------------------------------------------------------------------*/

article {
    margin: 0 5em 5em 25em;
}

article .content {
    animation: fade-in-bottom .4s .3s ease-in-out both;
}

article h1 {
    color: var(--dark-blue);
    width: 80%;
    margin-bottom: 3.5rem;
}

article p, article li {
    text-align: justify;
    hyphens: auto;
    line-height: 1.5;
}


/*------------------------------------------------------------------*/
/*                             Delays                               */
/*------------------------------------------------------------------*/

.delay-1 {
    animation-delay: .2s;
}
.delay-2 {
    animation-delay: .4s;
}
.delay-3 {
    animation-delay: .6s;
}
.delay-4 {
    animation-delay: .8s;
}
.delay-5 {
    animation-delay: 1s;
}
.delay-6 {
    animation-delay: 1.2s;
}

.nav__item--inactive {
    color: var(--grey)
}

.nav__subitem--sidebar {
    color: var(--dark)
}

.sidebar .nav__subitem:last-child {
    margin-bottom: 2em;
}
