<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|PT+Serif:400,700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://www.pycolore.fr/python/_static/pygments.css">

    <title>{% block title %}{% endblock %} | Pycolore</title>

    {% block extra_head %}{% endblock %}
</head>

<body>

    <header class="header header--dark">
        <nav class="nav nav--top">
            <div class="nav__brand nav__item link-button link-button--dark"><a href="/">Pycolore</a></div>
            <ul class="nav__links">
                <li class="nav__item link-button link-button--dark delay-2"><a href="/blog/">Blog</a></li>
                <li class="nav__item link-button link-button--dark delay-3"><a href="#">Mémos</a>
                    <ul class="nav__sublinks" id="memos">
                        <li class="nav__subitem link-button link-button--dark"><a href="/python/">Python</a></li>
                        <li class="nav__subitem link-button link-button--dark"><a href="/ocaml/">OCaml</a></li>
                        <li class="nav__subitem link-button link-button--dark"><a href="/debian/">Debian</a></li>
                    </ul>
                </li>
                <li class="nav__item link-button link-button--dark delay-4"><a href="#">Projets</a>
                    <ul class="nav__sublinks" id="projects">
                        <li class="nav__subitem link-button link-button--dark"><a href="/portfolio/">Portfolio</a></li>
                        <li class="nav__subitem link-button link-button--dark"><a href="https://github.com/Arkelis">Dépôts GitHub</a></li>
                    </ul>
                </li>
            </ul>
            <div class="menu-icon">
                <span></span>
                <svg x="0" y="0"  width="54px" height="54px" viewBox="0 0 54 54">
                    <path d="M16.500,27.000 C16.500,27.000 24.939,27.000 38.500,27.000 C52.061,27.000 49.945,15.648 46.510,11.367 C41.928,5.656 34.891,2.000 27.000,2.000 C13.193,2.000 2.000,13.193 2.000,27.000 C2.000,40.807 13.193,52.000 27.000,52.000 C40.807,52.000 52.000,40.807 52.000,27.000 C52.000,13.000 40.837,2.000 27.000,2.000"></path>
                </svg> 
            </div>
        </nav>
        <div class="greeting">
            <h1>{% block page_title %}{% endblock %}</h1>
            <p>{% block page_description %}{% endblock page_description %}</p>
        </div>
    </header>

{% block content %}
{% endblock %}

    <footer class="footer">
            <nav class="nav nav--bottom">
                <ul class="nav__links">
                    <li class="nav__item nav__item--title nav__item--grow">Blog
                        <ul class="nav__sublinks">
                            <li class="nav__subitem link-button link-button--dark"><a href="/blog/">Articles</a></li>
                            <li class="nav__subitem link-button link-button--dark"><a href="/categories/">Catégories</a></li>
                            <li class="nav__subitem link-button link-button--dark"><a href="/rss.xml">Flux RSS</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item--title nav__item--grow">Grands mémos
                        <ul class="nav__sublinks">
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">Python</a></li>
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">OCaml</a></li>
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">Debian</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item--title nav__item--grow">Post-it
                        <ul class="nav__sublinks">
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">Notes</a></li>
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">Extraits de code</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item--title nav__item--grow">Open source
                        <ul class="nav__sublinks">
                            <li class="nav__subitem link-button link-button--dark"><a href="https://github.com/Arkelis">GitHub</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item--title nav__item--grow">Méta
                        <ul class="nav__sublinks">
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">Téléchargements</a></li>
                            <li class="nav__subitem link-button link-button--dark"><a href="page.html">A propos du site</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="footer__mentions">
                <p>Copyright 2019 Guillaume Fayard. La partie blog du site Pycolore est créé avec le générateur de site statique <a href="https://getnikola.com/">Nikola</a>.</p>
            </div>
    </footer>
    <script src="/assets/js/hamburger.js"></script>
</body>

</html>
