{% extends "base.tmpl" %}

{% block title %}Articles{% endblock title %}

{% block page_title %}Articles de Pycolore{% endblock %}

{% block content %}
<main>
    <div class="cards posts-list">
    {% for post in posts %}
        <a href="{{ post.permalink() }}" class="card">
            <div class="card__header">
                <h3>{{ post.title() }}</h3>
                <p>{{ post.formatted_date("d MMMM YYY") }}</p>
            </div>
            <div class="card__body">
                <p>{{ post.description() or post.text(teaser_only=True, strip_html=True) }}</p>
            </div>
            <div class="card__footer">
                Lire
            </div>
        </a>
    {% endfor %}
    </div>
</main>

<script src="/assets/js/articles.js"></script>

{% endblock content %}
