{% extends 'base.tmpl' %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block title %}
{{ title|e }}
{% endblock title %}

{% block page_title %}
{{ title|e }}
{% endblock page_title %}

{% block page_description %}
{% endblock page_description %}

{% block content %}
<main class="content">
{% if posts %}
        <ul class="postlist">
        {% for post in posts %}
            <li><a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a> — <time datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time></li>
        {% endfor %}
        </ul>
    {% endif %}
    <p><a href="/blog/archive/">Retour aux archives</a></p>

</main>
{% endblock %}
