{% extends "base.tmpl" %}

{% block title %}
{{ title|e }}
{% endblock title %}

{% block page_title %}
{{ title|e }}
{% endblock page_title %}

{% block page_description %}
{{ description|e }}
{% endblock page_description %}

{% block extra_head %}

<meta property="og:site_name" content="PyColore">
<meta property="og:title" content="{{ post.title() }}">
<meta property="og:url" content="{{ abs_link(post.permalink()) }}">
<meta property="og:description" content="{{ post.text(strip_html=True, teaser_only=True) }}">
<meta property="og:type" content="article">

{% endblock %}

{% block content %}
<main>
    {{ post.text() }}
</main>
{% endblock %}
