{% extends "base.tmpl" %}

<!DOCTYPE html>
<html lang="fr">


<body>
    <header class="header header--light">
        <nav class="nav nav--top">
            <div class="nav__brand nav__item link-button link-button--light"><a href="/">Pycolore</a></div>
            <ul class="nav__links">
                <li class="nav__item link-button link-button--light delay-2"><a href="/blog/">Blog</a></li>
                <li class="nav__item link-button link-button--light delay-3"><a href="index.html">Mémos</a></li>
                <li class="nav__item link-button link-button--light delay-4"><a href="index.html">Open Source</a></li>
            </ul>
        </nav>
    </header>
    
{% block content %}
    <article>
        <h1>{{ post.title() }}</h1>
        <div class="content">
            {{ post.text() }}
        </div>
    </article>
{% endblock %}
