{% extends "post_base.tmpl" %}

{% block title %}{{ post.title() }}{% endblock title %}

{% block extra_head %}

<meta property="og:site_name" content="PyColore">
<meta property="og:title" content="{{ post.title() }}">
<meta property="og:url" content="{{ abs_link(post.permalink()) }}">
<meta property="og:description" content="{{ post.text(strip_html=True, teaser_only=True) }}">
<meta property="og:type" content="article">

{% endblock %}

{% block content %}
    <h1>{{ post.title() }}</h1>
    <div class="content article-info">
        Écrit le <a href="/blog/archive/{{ post.date.year }}/" class="article-date">{{ post.formatted_date("d MMMM YYY") }}</a>.
        {% if post.alltags %}
            Etiquettes :
            {% for tag in post.alltags %}
                <a href="{{ _link('tag', tag) }}">{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="content">
        {{ post.text() }}
    </div>
{% endblock %}
